@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Console", sans-serif;
  background-image: url("assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 768px) {
  html {
    background-attachment: scroll;
  }
}
